<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="form-group">
            <label class="control-label">Tipo:</label>
            <label class="radio-inline">
                <input type="radio" name="tipoPessoa" value="1" {{ (supplier.tipoPessoa != 2) ? 'checked' : '' }}>Pessoa Física
            </label>
            <label class="radio-inline">
                <input type="radio" name="tipoPessoa" value="2" {{ (supplier.tipoPessoa == 2) ? 'checked' : '' }}>Pessoa Jurídica
            </label>
        </div>
        <div class="form-group {{ (errors.razaoSocial) ? 'has-error' : '' }}">
            <label class="control-label">Razão Social/Nome:</label>
            <input class="form-control" type="text" name="razaoSocial" value="{{ supplier.razaoSocial }}">
            <p class="help-block">{{ (errors.razaoSocial) ? errors.razaoSocial : '' }}</p>
        </div>
        <div class="form-group {{ (errors.cgcCpf) ? 'has-error' : '' }}">
            <label class="control-label">CPF/CNPJ:</label>
            <input class="form-control" type="text" name="cgcCpf" value="{{ supplier.cgcCpf }}">
            <p class="help-block">{{ (errors.cgcCpf) ? errors.cgcCpf : '' }}</p>
        </div>
        <div class="form-group {{ (errors.email) ? 'has-error' : '' }}">
            <label class="control-label">E-mail:</label>
            <input class="form-control" type="email" name="email" value="{{ supplier.email }}">
            <p class="help-block">{{ (errors.email) ? errors.email : '' }}</p>
        </div>
        <div class="form-group {{ (errors.telefone) ? 'has-error' : '' }}">
            <label class="control-label">Telefone:</label>
            <input class="form-control" type="text" name="telefone" value="{{ supplier.telefone }}">
            <p class="help-block">{{ (errors.telefone) ? errors.telefone : '' }}</p>
        </div>
        <div class="text-right">
            <a class="btn btn-default" href="{{ path_for('list-suppliers') }}">Cancelar</a>
            <button class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>