<div class="row">
    <div class="col-xs-7 col-xs-offset-2">
        <div class="text-right form-group">
            <a class="btn btn-default" href="{{ path_for('list-products') }}">Cancelar</a>
            <button class="btn btn-primary">Salvar</button>
        </div>
        <div class="form-group {{ (errors.nome) ? 'has-error' : '' }}">
            <label class="control-label">Nome:</label>
            <input class="form-control" type="text" name="nome" id="nome" value="{{ product.nome }}">
            <p class="help-block">{{ (errors.nome) ? errors.nome : '' }}</p>
        </div>
        <div class="form-group {{ (errors.categoria) ? 'has-error' : '' }}">
            <label class="control-label">Categoria:</label>
            <select class="form-control" name="categoria" id="categoria">
                <option value="">Selecione..</option>
                {% for category in categories %}
                    {% set selected = (category.id == relationship(product, 'categoria').id) ? 'selected' : '' %}
                    <option value="{{ category.id }}" {{ selected }}>{{ category.nome }}</option>
                {% endfor %}
            </select>
            <p class="help-block">{{ (errors.categoria) ? errors.categoria : '' }}</p>
        </div>
        <div class="form-group {{ (errors.valor) ? 'has-error' : '' }}">
            <label class="control-label">Valor:</label>
            <input class="form-control" type="text" name="valor" id="valor" value="{{ product.valor }}">
            <p class="help-block">{{ (errors.valor) ? errors.valor : '' }}</p>
        </div>
        <div class="form-group {{ (errors.unidadeMedida) ? 'has-error' : '' }}">
            <label class="control-label">Unidade de medida:</label>
            <select class="form-control" name="unidadeMedida" id="unidadeMedida">
                {% set units = constant('\\Model\\Produto::UNIDADE_MEDIDA') %}
                {% for unit, name in units %}
                    {% set selected = (unit == product.unidadeMedida) ? 'selected' : '' %}
                    <option value="{{ unit }}">{{ name }}</option>
                {% endfor %}
            </select>
            <p class="help-block">{{ (errors.unidadeMedida) ? errors.unidadeMedida : '' }}</p>
        </div>
        <div class="form-group form-inline {{ (errors.fornecedor) ? 'has-error' : '' }}">
            <label class="control-label">Fornecedores:</label>
            <select class="form-control" id="selecao-fornecedores">
                <option value="">Selecione..</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id ~ '-' ~ supplier.razaoSocial ~ '-' ~ supplier.cgcCpf }}">{{ supplier.razaoSocial ~ ' - ' ~ supplier.cgcCpf }}</option>
                {% endfor %}
            </select>
            <button type="button" id="add-fornec" class="btn btn-info">Adicionar</button>
            <p class="help-block">{{ (errors.fornecedor) ? errors.fornecedor : '' }}</p>
        </div>
        <div id="fornecedores" class="list-group">
            {% for supplier in sharedList(product, 'fornecedor') %}
                <div class="fornecedor-selecionado list-group-item" id="fornec_{{ supplier.id }}">
                    <input type="hidden" name="fornecedor[]" value="{{ supplier.id }}">
                    <p><i class="pull-right remover-fornecedor glyphicon glyphicon-remove"></i> <span>{{ supplier.razaoSocial ~ ' - ' ~ supplier.cgcCpf }}</span></p>
                </div>
            {% endfor %}

        </div>
        <div class="hidden fornecedor-selecionado list-group-item" id="base">
            <input type="hidden" name="fornecedor[]" value="" disabled>
            <p><i class="pull-right remover-fornecedor glyphicon glyphicon-remove"></i> <span></span></p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#add-fornec').click(function () {

            var base = $('#base').clone();

            var supplier = $('#selecao-fornecedores').val();

            if (!supplier) {
                return false;
            }
            console.log(supplier);
            supplier = supplier.split('-');
            console.log(supplier);
            base.removeClass('hidden');
            base.attr('id', 'fornec-' + supplier[0]);
            base.children('input').attr('disabled', false).val(supplier[0]);
            base.children('p').children('span').html(supplier[1] + ' - ' + supplier[2]);
            base.children('p').children('i.remover-fornecedor').click(function () {
                $(this).parents('.fornecedor-selecionado').remove();
            });

            $('#fornecedores').append(base);

        });
    });
</script>