{% extends "base/base.twig" %}

{% block content %}

    <h2 class="page-header">Nova conta</h2>

    <p>Seja bem vindo! Preencha o formulário a seguir para iniciar seu cadastro!</p>

    <form name="account" method="POST" action="{{path_for('register-account')}}">
        <input type="hidden" name="validacao" value="newAccount">
        <div class="col-xs-6">
            <fieldset>
                <legend>Conta</legend>
                <div class="form-group {{ (errors.login) ? 'has-error' : '' }}">
                    <label class="control-label">Login:</label>
                    <input class="form-control" type="text" name="login" id="login" value="{{user.login}}">
                    <p class="help-block">{{ (errors.login) ? errors.login : '' }}</p>
                </div>
                <div class="form-group {{ (errors.email) ? 'has-error' : '' }}">
                    <label class="control-label">Email:</label>
                    <input class="form-control" type="email" name="email" id="email" value="{{user.email}}">
                    <p class="help-block">{{ (errors.email) ? errors.email : '' }}</p>
                    {% if not errors.email %}
                        <p class="help-block">Este e-mail servirá para recuperação de dados e contato.</p>
                    {% endif %}
                </div>
                <div class="form-group {{ (errors.senha) ? 'has-error' : '' }}">
                    <label class="control-label">Senha:</label>
                    <input class="form-control" type="password" name="senha" id="senha" value="">
                </div>
                <div class="form-group {{ (errors.senha) ? 'has-error' : '' }}">
                    <label class="control-label">Confirmar senha:</label>
                    <input class="form-control" type="password" name="confirma" id="confirma">
                </div>  
                <div class="form-group {{ (errors.senha) ? 'has-error' : '' }}">
                    <p class="help-block">{{ errors.senha }}</p>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-6">
            <fieldset>
                <legend>Dados pessoais</legend>
                <div class="form-group {{ (errors.nome) ? 'has-error' : '' }}">
                    <label class="control-label">Nome:</label>
                    <input class="form-control" type="text" name="nome" id="nome" value="{{user.nome}}">
                    <p class="help-block">{{ (errors.nome) ? errors.nome : '' }}</p>
                </div>
                <div class="form-group {{ (errors.sobrenome) ? 'has-error' : '' }}">
                    <label class="control-label">Sobrenome:</label>
                    <input class="form-control" type="text" name="sobrenome" id="sobrenome" value="{{user.sobrenome}}">
                    <p class="help-block">{{ (errors.sobrenome) ? errors.sobrenome : '' }}</p>
                </div>
                <div class="form-group {{ (errors.cpf) ? 'has-error' : '' }}">
                    <label class="control-label">CPF:</label>
                    <input class="form-control" type="text" name="cpf" id="cpf" value="{{user.cpf}}">
                    <p class="help-block">{{ (errors.cpf) ? errors.cpf : '' }}</p>
                </div>
                <div class="form-group {{ (errors.dtNascimento) ? 'has-error' : '' }}">
                    <label class="control-label">Data de nascimento:</label>
                    <input class="form-control" type="text" name="dtNascimento" id="dtNascimento" value="{{user.dtNascimento|date('d/m/Y')}}">
                    <p class="help-block">{{ (errors.dtNascimento) ? errors.dtNascimento : '' }}</p>
                </div>
                <div class="form-group {{ (errors.telefone) ? 'has-error' : '' }}">
                    <label class="control-label">Telefone:</label>
                    <input class="form-control" type="text" name="telefone" id="telefone" value="{{user.telefone}}">
                    <p class="help-block">{{ (errors.telefone) ? errors.telefone : '' }}</p>
                </div>
                <div class="form-group {{ (errors.endereco) ? 'has-error' : '' }}">
                    <label class="control-label">Endereço:</label>
                    <input class="form-control" type="text" name="endereco" id="endereco" value="{{user.endereco}}">
                    <p class="help-block">{{ (errors.endereco) ? errors.endereco : '' }}</p>
                </div>
                <div class="form-group {{ (errors.bairro) ? 'has-error' : '' }}">
                    <label class="control-label">Bairro:</label>
                    <input class="form-control" type="text" name="bairro" id="bairro" value="{{user.bairro}}">
                    <p class="help-block">{{ (errors.bairro) ? errors.bairro : '' }}</p>
                </div>
                <div class="form-group {{ (errors.cidade) ? 'has-error' : '' }}">
                    <label class="control-label">Cidade:</label>
                    <input class="form-control" type="text" name="cidade" id="cidade" value="{{user.cidade}}">
                    <p class="help-block">{{ (errors.cidade) ? errors.cidade : '' }}</p>
                </div>
                <div class="form-group {{ (errors.estado) ? 'has-error' : '' }}">
                    <label class="control-label">UF:</label>
                    <select class="form-control" name="estado" id="estado">
                        <option value="">...</option>
                        {% for state in states %}
                            {% set selected = (state.id == user.estado.id or user.ufId == state.id) ? 'selected' : '' %}
                            <option value="{{state.id}}" {{selected}}>{{state.descricao}}</option>
                        {% endfor %}
                    </select>
                    <p class="help-block">{{ (errors.estado) ? errors.estado : '' }}</p>
                </div>
            </fieldset>
            <div class="form-group text-right">
                <a class="btn btn-default" href="{{ path_for('register-cancel') }}">Cancelar</a>
                <button class="btn btn-primary">Avançar <i class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </form>

{% endblock %}
